<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">

    <link rel="stylesheet" href="css/test.css">
    <link rel="stylesheet" href="css/main-style.css"> <!-- 원본 -->
    <!-- <link rel="stylesheet" href="css/main-style-layout.css"> --> <!-- 레이아웃 -->
    <title>메인 페이지</title>
    <script src="https://kit.fontawesome.com/3fe30a9b47.js" crossorigin="anonymous"></script>
    <script src="main.js"></script>
</head>
<body>
    <main>
        <div class="search-area">
            <form action="#" class="search-form">
                <div class="search-input-box">
                    <button id="search-btn" class="fa-solid fa-magnifying-glass"></button>
                    <input id="search-input" type="search" placeholder="어디로 가시나요?" name="searchKeyword" autocomplete="off">
                </div>
                <div class="search-keyword-area">
                    <a href="#">
                        <i class="fa-solid fa-location-arrow"></i>
                        <span>주변</span>
                    </a>
                    <label class="search-keyword-title">인기 검색어</label>
                    <ol class="popular-keyword-list">
                        <!-- <a href="">
                            <i class="fa-solid fa-location-dot"></i>
                            <span>라스베이거스</span>
                        </a>
                        <hr>
                        <a href="">
                            <i class="fa-solid fa-location-dot"></i>
                            <span>서울</span>
                        </a>
                        <hr>
                        <a href="">
                            <i class="fa-solid fa-location-dot"></i>
                            <span>동대문</span>
                        </a>
                        <hr>
                        <a href="">
                            <i class="fa-solid fa-location-dot"></i>
                            <span>부산 해운대</span>
                        </a> -->
                    </ol>
                
                </div>
            </form>
        </div>

        <div class="resent-keyword-area">
            <span class="resent-keyword-title">최근 검색어</span>
            <ul class="resent-keyword-list">
                <li class="item"><a href="#"><i class="fa-solid fa-magnifying-glass"></i>라스베이거스</a>

                </li>
                <li class="item"><a href="#"><i class="fa-solid fa-magnifying-glass"></i>서울</a></li>
                <li class="item"><a href="#"><i class="fa-solid fa-magnifying-glass"></i>동대문</a></li>
                <li class="item"><a href="#"><i class="fa-solid fa-magnifying-glass"></i>부산 해운대</a></li>
            </ul>
        </div>

        <div class="place-area">
            <span class="place-area-title">최근에 본 장소</span>
            <div class="slide-container">
                <ul class="place-list">
                    <li class="place-item">
                        <a href="해당 장소에 대한 상세페이지(자바스크립트로 queryString 생성)">
                            <img src="/images/ben__song1.jpg">
                            <span class="place-title">최근에 본 장소2</span>
                            <div class="grade">
                                <span>평점</span>
                                <span>리뷰 갯수</span>
                            </div>
                        </a>
                    </li>
                    <li class="place-item">
                        <a href="해당 장소에 대한 상세페이지(자바스크립트로 queryString 생성)">
                            <img src="/images/ben__song2.jpg">
                            <span class="place-title">최근에 본 장소2</span>
                            <div class="grade">
                                <span>평점</span>
                                <span>리뷰 갯수</span>
                            </div>
                        </a>
                    </li>
                    <li class="place-item">
                        <a href="해당 장소에 대한 상세페이지(자바스크립트로 queryString 생성)">
                            <img src="/images/ben__song3.jpg">
                            <span class="place-title">최근에 본 장소2</span>
                            <div class="grade">
                                <span>평점</span>
                                <span>리뷰 갯수</span>
                            </div>
                        </a>
                    </li>
                    <li class="place-item">
                        <a href="해당 장소에 대한 상세페이지(자바스크립트로 queryString 생성)">
                            <img src="/images/ben__song4.jpg">
                            <span class="place-title">최근에 본 장소2</span>
                            <div class="grade">
                                <span>평점</span>
                                <span>리뷰 갯수</span>
                            </div>
                        </a>
                    </li>
                    <li class="place-item">
                        <a href="해당 장소에 대한 상세페이지(자바스크립트로 queryString 생성)">
                            <img src="/images/ben__song4.jpg">
                            <span class="place-title">최근에 본 장소2</span>
                            <div class="grade">
                                <span>평점</span>
                                <span>리뷰 갯수</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <span class="prev-arrow">이전</span>
                <span class="next-arrow">다음</span>
            </div>
        </div>

        <div class="place-area">
            <span class="place-area-title">주변을 둘러보세요</span>
            <div class="slide-container">
                <ul class="place-list">
                    <li class="place-item">
                        <a href="해당 장소에 대한 상세페이지(자바스크립트로 queryString 생성)">
                            <img src="/images/ben__song1.jpg">
                            <span class="place-title">주변 장소 1</span>
                            <div class="grade">
                                <span>평점</span>
                                <span>리뷰 갯수</span>
                            </div>
                        </a>
                    </li>
                    <li class="place-item">
                        <a href="해당 장소에 대한 상세페이지(자바스크립트로 queryString 생성)">
                            <img src="/images/ben__song2.jpg">
                            <span class="place-title">주변 장소 2</span>
                            <div class="grade">
                                <span>평점</span>
                                <span>리뷰 갯수</span>
                            </div>
                        </a>
                    </li>
                    <li class="place-item">
                        <a href="해당 장소에 대한 상세페이지(자바스크립트로 queryString 생성)">
                            <img src="/images/ben__song3.jpg">
                            <span class="place-title">주변 장소 3</span>
                            <div class="grade">
                                <span>평점</span>
                                <span>리뷰 갯수</span>
                            </div>
                        </a>
                    </li>
                    <li class="place-item">
                        <a href="해당 장소에 대한 상세페이지(자바스크립트로 queryString 생성)">
                            <img src="/images/ben__song4.jpg">
                            <span class="place-title">주변 장소 4</span>
                            <div class="grade">
                                <span>평점</span>
                                <span>리뷰 갯수</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <span class="prev-arrow">이전</span>
                <span class="next-arrow">다음</span>
            </div>
        </div>
    </main>
    
</body>
</html>