<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="/views/css/inc/header.css">
    <link rel="stylesheet" href="../css/member/login.css">
    <link rel="stylesheet" href="/views/css/inc/footer.css">
    <script src="https://kit.fontawesome.com/3fe30a9b47.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <section class="left-column">
            <img src="https://static.tacdn.com/img2/brand_refresh/Tripadvisor_lockup_horizontal_secondary_registered.svg" alt="" width="200px">
            <!-- <span>Tripadvisor</span> -->
        </section>
        <section class="right-column">
            <ul class="header-nav">
                <li><a href="프로필페이지/리뷰"><i class="fa-solid fa-pen"></i>리뷰</a></li>
                <li><a href="#"><i class="fa-solid fa-bell"></i>알림</a></li>
            </ul>

            <!-- 로그아웃 상태라면 -->
            <a href="로그인 페이지로 이동" class="header-login">로그인</a>
            
            <!-- 로그인 상태라면 -->
            <!-- <div class="profile-img">
                <label for="header-menu-toggle">
                    <img src="/images/ben__song2.jpg" alt="프로필 이미지">
                </label>
                <input type="checkbox" id="header-menu-toggle">
                <div class="top-down-menu">
                    <ul>
                        <li><a href="내정보 확인 이동">내 정보</a></li>
                        <li><a href="프로필 페이지 이동">마이 프로필</a></li>
                        <li><a href="로그아웃페이지 이동">로그아웃</a></li>
                    </ul>
                </div>
            </div> -->
        </section>
    </header>
    <main>
        <form action="로그인" method="post" name="login-frm" method="post">
            <span class="login-title">Sign in</span>
            <span>or <a href="회원가입페이지">Create an account</a></span>
            <div class="input-area">
                <input type="email" name="memberEmail" maxlength="20" autocomplete="off" placeholder="ID-Email">
                <input type="password" maxlength="20" placeholder="Password">
            </div>

            <div class="saveId-area">
                <input name="saveId" type="checkbox" id="saveId"> 
                <label for="saveId"><i class="fa-solid fa-check"></i></label> Remember me
            </div>

            <button class="login-btn">Sign in</button>
            <div class="find-area">
                Forgotten your <a href="/views/member/find-account.html">ID<span>|</span>Password</a>
            </div>
        </form>
    </main>

    <footer>
        <section>
            <div class="footer-logo">
                <img src="https://static.tacdn.com/img2/brand_refresh/Tripadvisor_logoset_solid_green.svg" alt="">
            </div>
            <div class="footer-content">
                <span>© 2022 Tripadvisor LLC All rights reserved.</span>
                <ul class="footer-nav">
                    <li><a href="이용 약관">이용 약관</a></li>
                    <li><a href="개인정보 수집 및 이용약관">개인정보 수집 및 이용 약관</a></li>
                    <li><a href="문의하기">문의하기</a></li>
                </ul>
            </div>
        </section>
        <section class="footer-explanation">
            <p>KH 정보교육원 교육과정 중 중간프로젝트 트립어드바이저 클론버전 입니다. </p>
        </section>
    </footer>
</body>
</html>